
/* By Your_Sensei2007 (Telegram/Instagram) */
*{
  margin: 0px;
  padding: 0px;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  background-image: linear-gradient(to bottom right, lightblue,purple);
}

#headings{
  margin: 35px;
  color: blanchedalmond;
  font-family: serif;
  font-size: 1rem;
}
#calculator{
  border: 3px solid plum;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  justify-content: center;
  width: fit-content;
  height: max-content;
  margin: 20px;
  padding: 15px;
  border-radius: 30px;
  background-color: slategrey;
}

.keys{
  
}
button{
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 50%;
  margin: 4px;
  background-color: lightsalmon;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

button:hover{
  background-color: salmon;
}

button:active{
  background-color: salmon;
}

#display{
  height: 33px;
  width: 193px;
  border: none;
  margin: 6px;
  text-align: right;
  color: mediumblue;
  background-color: white;
  border-radius: 15px;
  border: 3px solid plum;
  font-size: 27px;
  }
